{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#    <link rel = "stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
{#</head>#}
{#<body>#}
{#<div class="container">#}
{#<h2>Join Success</h2>#}
{#    <table class="table">#}
{#        <h3>All your share rides</h3>#}
{#        <thead class="thead-light">#}
{#            <tr>#}
{#                <th>Destination</th>#}
{#                <th>Arrival Date</th>#}
{#                <th>Arrival Time</th>#}
{#                <th>Total Number of Passengers</th>#}
{#                <th>Special Requirement</th>#}
{#                <th>Status</th>#}
{#                <th>Operation</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#            {% for ride in ride_lst %}#}
{#            <tr>#}
{#                <td>{{ ride.destination }}</td>#}
{#                <td>{{ ride.date }}</td>#}
{#                <td>{{ ride.time }}</td>#}
{#                <td>{{ ride.totalNum }}</td>#}
{#                <td>{{ ride.special|default:"You don't have any special requirement." }}</td>#}
{#                <td>#}
{#                    {% if ride.isComfirmed %}#}
{#                        <span>The driver is on the way.</span>#}
{#                    {% else %}#}
{#                        <span>Waiting for drivers.</span>#}
{#                    {% endif %}#}
{#                </td>#}
{#                <td><a href="#">Exit the ride</a> </td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#    <div class="row">#}
{#        <div class="col">#}
{#            <a href="{% url 'home' %}">Back to home</a>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#</body>#}
{#</html>#}
{%  extends 'base.html' %}
{% block content %}
        <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Destination</th>
                <th>Arrival Date</th>
                <th>Arrival Time</th>
                <th>Total Number of Passengers</th>
                <th>Special Requirement</th>
                <th>Status</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for ride in ride_lst %}
            <tr>
                <td>{{ ride.destination }}</td>
                <td>{{ ride.date }}</td>
                <td>{{ ride.time }}</td>
                <td>{{ ride.totalNum }}</td>
                <td>{{ ride.special|default:"You don't have any special requirement." }}</td>
                <td>
                    {% if ride.isComfirmed %}
                        <span>The driver is on the way.</span>
                    {% else %}
                        <span>Waiting for drivers.</span>
                    {% endif %}
                </td>
                <td><a href="#">Exit the ride</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}